body {
    background-color: #d5d5d5;
    font-family: 'Trebuchet MS',Arial,'Comic Sans MS';
}
.wrapper {
    width: 1000px;
    height: 1300px;
    margin: 0 auto;
}

.left {
    float: left;
    width: 460px;
    height: 500px;
    margin-top:15px;
    background-color: white;
    border-style:ridge;
    border-color:aqua;
}
.right {
    float: right;
    width: 460px;
    height: 500px;
    margin-top:15px;
    background-color: white;
    border-style:dashed;
    border-color:aqua;
}

   .ust1 {
        margin-top: 20px;
        margin-left:50px;
     
    }
   
    .ust2 {
 
        margin-top: 20px;
        margin-left:50px;
     
    }

    
    .left .ust3 {
 
        margin-top: 20px;
        margin-left:50px;
     
    }
   .ust4 {
 
        margin-top: 10px;
        margin-left:150px;
     
    }

